/* 1 */

.mar-1,
.mar-x-1,
.mar-l-1,

.mar-1-1,
.mar-2-1,
.mar-3-1,
.mar-5-1,
.mar-8-1,
.mar-13-1,
.mar-21-1,
.mar-34-1,
.mar-55-1,
.mar-98-1,
.mar-144-1,
.mar-233-1 {
    margin-left: var(--size-1, 1px);
}

.mar-1,
.mar-x-1,
.mar-r-1,

.mar-1-1,
.mar-2-1,
.mar-3-1,
.mar-5-1,
.mar-8-1,
.mar-13-1,
.mar-21-1,
.mar-34-1,
.mar-55-1,
.mar-98-1,
.mar-144-1,
.mar-233-1 {
    margin-right: var(--size-1, 1px);
}

.mar-1,
.mar-y-1,
.mar-t-1,

.mar-1-1,
.mar-1-2,
.mar-1-3,
.mar-1-5,
.mar-1-8,
.mar-1-13,
.mar-1-21,
.mar-1-34,
.mar-1-55,
.mar-1-98,
.mar-1-144,
.mar-1-233 {
    margin-top: var(--size-1, 1px);
}

.mar-1,
.mar-y-1,
.mar-b-1,

.mar-1-1,
.mar-1-2,
.mar-1-3,
.mar-1-5,
.mar-1-8,
.mar-1-13,
.mar-1-21,
.mar-1-34,
.mar-1-55,
.mar-1-98,
.mar-1-144,
.mar-1-233 {
    margin-bottom: var(--size-1, 1px);
}

/* 2 */

.mar-2,
.mar-x-2,
.mar-l-2,

.mar-1-2,
.mar-2-2,
.mar-3-2,
.mar-5-2,
.mar-8-2,
.mar-13-2,
.mar-21-2,
.mar-34-2,
.mar-55-2,
.mar-98-2,
.mar-144-2,
.mar-233-2 {
    margin-left: var(--size-2, 2px);
}

.mar-2,
.mar-x-2,
.mar-r-2,

.mar-1-2,
.mar-2-2,
.mar-3-2,
.mar-5-2,
.mar-8-2,
.mar-13-2,
.mar-21-2,
.mar-34-2,
.mar-55-2,
.mar-98-2,
.mar-144-2,
.mar-233-2 {
    margin-right: var(--size-2, 2px);
}

.mar-2,
.mar-y-2,
.mar-t-2,

.mar-2-1,
.mar-2-2,
.mar-2-3,
.mar-2-5,
.mar-2-8,
.mar-2-13,
.mar-2-21,
.mar-2-34,
.mar-2-55,
.mar-2-98,
.mar-2-144,
.mar-2-233 {
    margin-top: var(--size-2, 2px);
}

.mar-2,
.mar-y-2,
.mar-b-2,

.mar-2-1,
.mar-2-2,
.mar-2-3,
.mar-2-5,
.mar-2-8,
.mar-2-13,
.mar-2-21,
.mar-2-34,
.mar-2-55,
.mar-2-98,
.mar-2-144,
.mar-2-233 {
    margin-bottom: var(--size-2, 2px);
}

/* 3 */

.mar-3,
.mar-x-3,
.mar-l-3,

.mar-1-3,
.mar-2-3,
.mar-3-3,
.mar-5-3,
.mar-8-3,
.mar-13-3,
.mar-21-3,
.mar-34-3,
.mar-55-3,
.mar-98-3,
.mar-144-3,
.mar-233-3 {
    margin-left: var(--size-3, 3px);
}

.mar-3,
.mar-x-3,
.mar-r-3,

.mar-1-3,
.mar-2-3,
.mar-3-3,
.mar-5-3,
.mar-8-3,
.mar-13-3,
.mar-21-3,
.mar-34-3,
.mar-55-3,
.mar-98-3,
.mar-144-3,
.mar-233-3 {
    margin-right: var(--size-3, 3px);
}

.mar-3,
.mar-y-3,
.mar-t-3,

.mar-3-1,
.mar-3-2,
.mar-3-3,
.mar-3-5,
.mar-3-8,
.mar-3-13,
.mar-3-21,
.mar-3-34,
.mar-3-55,
.mar-3-98,
.mar-3-144,
.mar-3-233 {
    margin-top: var(--size-3, 3px);
}

.mar-3,
.mar-y-3,
.mar-b-3,

.mar-3-1,
.mar-3-2,
.mar-3-3,
.mar-3-5,
.mar-3-8,
.mar-3-13,
.mar-3-21,
.mar-3-34,
.mar-3-55,
.mar-3-98,
.mar-3-144,
.mar-3-233 {
    margin-bottom: var(--size-3, 3px);
}

/* 5 */

.mar-5,
.mar-x-5,
.mar-l-5,

.mar-1-5,
.mar-2-5,
.mar-3-5,
.mar-5-5,
.mar-8-5,
.mar-13-5,
.mar-21-5,
.mar-34-5,
.mar-55-5,
.mar-98-5,
.mar-144-5,
.mar-233-5 {
    margin-left: var(--size-5, 5px);
}

.mar-5,
.mar-x-5,
.mar-r-5,

.mar-1-5,
.mar-2-5,
.mar-3-5,
.mar-5-5,
.mar-8-5,
.mar-13-5,
.mar-21-5,
.mar-34-5,
.mar-55-5,
.mar-98-5,
.mar-144-5,
.mar-233-5 {
    margin-right: var(--size-5, 5px);
}

.mar-5,
.mar-y-5,
.mar-t-5,

.mar-5-1,
.mar-5-2,
.mar-5-3,
.mar-5-5,
.mar-5-8,
.mar-5-13,
.mar-5-21,
.mar-5-34,
.mar-5-55,
.mar-5-98,
.mar-5-144,
.mar-5-233 {
    margin-top: var(--size-5, 5px);
}

.mar-5,
.mar-y-5,
.mar-b-5,

.mar-5-1,
.mar-5-2,
.mar-5-3,
.mar-5-5,
.mar-5-8,
.mar-5-13,
.mar-5-21,
.mar-5-34,
.mar-5-55,
.mar-5-98,
.mar-5-144,
.mar-5-233 {
    margin-bottom: var(--size-5, 5px);
}

/* 8 */

.mar-8,
.mar-x-8,
.mar-l-8,

.mar-1-8,
.mar-2-8,
.mar-3-8,
.mar-5-8,
.mar-8-8,
.mar-13-8,
.mar-21-8,
.mar-34-8,
.mar-55-8,
.mar-98-8,
.mar-144-8,
.mar-233-8 {
    margin-left: var(--size-8, 8px);
}

.mar-8,
.mar-x-8,
.mar-r-8,

.mar-1-8,
.mar-2-8,
.mar-3-8,
.mar-5-8,
.mar-8-8,
.mar-13-8,
.mar-21-8,
.mar-34-8,
.mar-55-8,
.mar-98-8,
.mar-144-8,
.mar-233-8 {
    margin-right: var(--size-8, 8px);
}

.mar-8,
.mar-y-8,
.mar-t-8,

.mar-8-1,
.mar-8-2,
.mar-8-3,
.mar-8-5,
.mar-8-8,
.mar-8-13,
.mar-8-21,
.mar-8-34,
.mar-8-55,
.mar-8-98,
.mar-8-144,
.mar-8-233 {
    margin-top: var(--size-8, 8px);
}

.mar-8,
.mar-y-8,
.mar-b-8,

.mar-8-1,
.mar-8-2,
.mar-8-3,
.mar-8-5,
.mar-8-8,
.mar-8-13,
.mar-8-21,
.mar-8-34,
.mar-8-55,
.mar-8-98,
.mar-8-144,
.mar-8-233 {
    margin-bottom: var(--size-8, 8px);
}

/* 13 */

.mar-13,
.mar-x-13,
.mar-l-13,

.mar-1-13,
.mar-2-13,
.mar-3-13,
.mar-5-13,
.mar-8-13,
.mar-13-13,
.mar-21-13,
.mar-34-13,
.mar-55-13,
.mar-98-13,
.mar-144-13,
.mar-233-13 {
    margin-left: var(--size-13, 13px);
}

.mar-13,
.mar-x-13,
.mar-r-13,

.mar-1-13,
.mar-2-13,
.mar-3-13,
.mar-5-13,
.mar-8-13,
.mar-13-13,
.mar-21-13,
.mar-34-13,
.mar-55-13,
.mar-98-13,
.mar-144-13,
.mar-233-13 {
    margin-right: var(--size-13, 13px);
}

.mar-13,
.mar-y-13,
.mar-t-13,

.mar-13-1,
.mar-13-2,
.mar-13-3,
.mar-13-5,
.mar-13-8,
.mar-13-13,
.mar-13-21,
.mar-13-34,
.mar-13-55,
.mar-13-98,
.mar-13-144,
.mar-13-233 {
    margin-top: var(--size-13, 13px);
}

.mar-13,
.mar-y-13,
.mar-b-13,

.mar-13-1,
.mar-13-2,
.mar-13-3,
.mar-13-5,
.mar-13-8,
.mar-13-13,
.mar-13-21,
.mar-13-34,
.mar-13-55,
.mar-13-98,
.mar-13-144,
.mar-13-233 {
    margin-bottom: var(--size-13, 13px);
}

/* 21 */

.mar-21,
.mar-x-21,
.mar-l-21,

.mar-1-21,
.mar-2-21,
.mar-3-21,
.mar-5-21,
.mar-8-21,
.mar-13-21,
.mar-21-21,
.mar-34-21,
.mar-55-21,
.mar-98-21,
.mar-144-21,
.mar-233-21 {
    margin-left: var(--size-21, 21px);
}

.mar-21,
.mar-x-21,
.mar-r-21,

.mar-1-21,
.mar-2-21,
.mar-3-21,
.mar-5-21,
.mar-8-21,
.mar-13-21,
.mar-21-21,
.mar-34-21,
.mar-55-21,
.mar-98-21,
.mar-144-21,
.mar-233-21 {
    margin-right: var(--size-21, 21px);
}

.mar-21,
.mar-y-21,
.mar-t-21,

.mar-21-1,
.mar-21-2,
.mar-21-3,
.mar-21-5,
.mar-21-8,
.mar-21-13,
.mar-21-21,
.mar-21-34,
.mar-21-55,
.mar-21-98,
.mar-21-144,
.mar-21-233 {
    margin-top: var(--size-21, 21px);
}

.mar-21,
.mar-y-21,
.mar-b-21,

.mar-21-1,
.mar-21-2,
.mar-21-3,
.mar-21-5,
.mar-21-8,
.mar-21-13,
.mar-21-21,
.mar-21-34,
.mar-21-55,
.mar-21-98,
.mar-21-144,
.mar-21-233 {
    margin-bottom: var(--size-21, 21px);
}

/* 34 */

.mar-34,
.mar-x-34,
.mar-l-34,

.mar-1-34,
.mar-2-34,
.mar-3-34,
.mar-5-34,
.mar-8-34,
.mar-13-34,
.mar-21-34,
.mar-34-34,
.mar-55-34,
.mar-98-34,
.mar-144-34,
.mar-233-34 {
    margin-left: var(--size-34, 34px);
}

.mar-34,
.mar-x-34,
.mar-r-34,

.mar-1-34,
.mar-2-34,
.mar-3-34,
.mar-5-34,
.mar-8-34,
.mar-13-34,
.mar-21-34,
.mar-34-34,
.mar-55-34,
.mar-98-34,
.mar-144-34,
.mar-233-34 {
    margin-right: var(--size-34, 34px);
}

.mar-34,
.mar-y-34,
.mar-t-34,

.mar-34-1,
.mar-34-2,
.mar-34-3,
.mar-34-5,
.mar-34-8,
.mar-34-13,
.mar-34-21,
.mar-34-34,
.mar-34-55,
.mar-34-98,
.mar-34-144,
.mar-34-233 {
    margin-top: var(--size-34, 34px);
}

.mar-34,
.mar-y-34,
.mar-b-34,

.mar-34-1,
.mar-34-2,
.mar-34-3,
.mar-34-5,
.mar-34-8,
.mar-34-13,
.mar-34-21,
.mar-34-34,
.mar-34-55,
.mar-34-98,
.mar-34-144,
.mar-34-233 {
    margin-bottom: var(--size-34, 34px);
}

/* 55 */

.mar-55,
.mar-x-55,
.mar-l-55,

.mar-1-55,
.mar-2-55,
.mar-3-55,
.mar-5-55,
.mar-8-55,
.mar-13-55,
.mar-21-55,
.mar-34-55,
.mar-55-55,
.mar-98-55,
.mar-144-55,
.mar-233-55 {
    margin-left: var(--size-55, 55px);
}

.mar-55,
.mar-x-55,
.mar-r-55,

.mar-1-55,
.mar-2-55,
.mar-3-55,
.mar-5-55,
.mar-8-55,
.mar-13-55,
.mar-21-55,
.mar-34-55,
.mar-55-55,
.mar-98-55,
.mar-144-55,
.mar-233-55 {
    margin-right: var(--size-55, 55px);
}

.mar-55,
.mar-y-55,
.mar-t-55,

.mar-55-1,
.mar-55-2,
.mar-55-3,
.mar-55-5,
.mar-55-8,
.mar-55-13,
.mar-55-21,
.mar-55-34,
.mar-55-55,
.mar-55-98,
.mar-55-144,
.mar-55-233 {
    margin-top: var(--size-55, 55px);
}

.mar-55,
.mar-y-55,
.mar-b-55,

.mar-55-1,
.mar-55-2,
.mar-55-3,
.mar-55-5,
.mar-55-8,
.mar-55-13,
.mar-55-21,
.mar-55-34,
.mar-55-55,
.mar-55-98,
.mar-55-144,
.mar-55-233 {
    margin-bottom: var(--size-55, 55px);
}

/* 98 */

.mar-98,
.mar-x-98,
.mar-l-98,

.mar-1-98,
.mar-2-98,
.mar-3-98,
.mar-5-98,
.mar-8-98,
.mar-13-98,
.mar-21-98,
.mar-34-98,
.mar-55-98,
.mar-98-98,
.mar-144-98,
.mar-233-98 {
    margin-left: var(--size-98, 98px);
}

.mar-98,
.mar-x-98,
.mar-r-98,

.mar-1-98,
.mar-2-98,
.mar-3-98,
.mar-5-98,
.mar-8-98,
.mar-13-98,
.mar-21-98,
.mar-34-98,
.mar-55-98,
.mar-98-98,
.mar-144-98,
.mar-233-98 {
    margin-right: var(--size-98, 98px);
}

.mar-98,
.mar-y-98,
.mar-t-98,

.mar-98-1,
.mar-98-2,
.mar-98-3,
.mar-98-5,
.mar-98-8,
.mar-98-13,
.mar-98-21,
.mar-98-34,
.mar-98-55,
.mar-98-98,
.mar-98-144,
.mar-98-233 {
    margin-top: var(--size-98, 98px);
}

.mar-98,
.mar-y-98,
.mar-b-98,

.mar-98-1,
.mar-98-2,
.mar-98-3,
.mar-98-5,
.mar-98-8,
.mar-98-13,
.mar-98-21,
.mar-98-34,
.mar-98-55,
.mar-98-98,
.mar-98-144,
.mar-98-233 {
    margin-bottom: var(--size-98, 98px);
}

/* 144 */

.mar-144,
.mar-x-144,
.mar-l-144,

.mar-1-144,
.mar-2-144,
.mar-3-144,
.mar-5-144,
.mar-8-144,
.mar-13-144,
.mar-21-144,
.mar-34-144,
.mar-55-144,
.mar-98-144,
.mar-144-144,
.mar-233-144 {
    margin-left: var(--size-144, 144px);
}

.mar-144,
.mar-x-144,
.mar-r-144,

.mar-1-144,
.mar-2-144,
.mar-3-144,
.mar-5-144,
.mar-8-144,
.mar-13-144,
.mar-21-144,
.mar-34-144,
.mar-55-144,
.mar-98-144,
.mar-144-144,
.mar-233-144 {
    margin-right: var(--size-144, 144px);
}

.mar-144,
.mar-y-144,
.mar-t-144,

.mar-144-1,
.mar-144-2,
.mar-144-3,
.mar-144-5,
.mar-144-8,
.mar-144-13,
.mar-144-21,
.mar-144-34,
.mar-144-55,
.mar-144-98,
.mar-144-144,
.mar-144-233 {
    margin-top: var(--size-144, 144px);
}

.mar-144,
.mar-y-144,
.mar-b-144,

.mar-144-1,
.mar-144-2,
.mar-144-3,
.mar-144-5,
.mar-144-8,
.mar-144-13,
.mar-144-21,
.mar-144-34,
.mar-144-55,
.mar-144-98,
.mar-144-144,
.mar-144-233 {
    margin-bottom: var(--size-144, 144px);
}

/* 233 */

.mar-233,
.mar-x-233,
.mar-l-233,

.mar-1-233,
.mar-2-233,
.mar-3-233,
.mar-5-233,
.mar-8-233,
.mar-13-233,
.mar-21-233,
.mar-34-233,
.mar-55-233,
.mar-98-233,
.mar-144-233,
.mar-233-233 {
    margin-left: var(--size-233, 233px);
}

.mar-233,
.mar-x-233,
.mar-r-233,

.mar-1-233,
.mar-2-233,
.mar-3-233,
.mar-5-233,
.mar-8-233,
.mar-13-233,
.mar-21-233,
.mar-34-233,
.mar-55-233,
.mar-98-233,
.mar-144-233,
.mar-233-233 {
    margin-right: var(--size-233, 233px);
}

.mar-233,
.mar-y-233,
.mar-t-233,

.mar-233-1,
.mar-233-2,
.mar-233-3,
.mar-233-5,
.mar-233-8,
.mar-233-13,
.mar-233-21,
.mar-233-34,
.mar-233-55,
.mar-233-98,
.mar-233-144,
.mar-233-233 {
    margin-top: var(--size-233, 233px);
}

.mar-233,
.mar-y-233,
.mar-b-233,

.mar-233-1,
.mar-233-2,
.mar-233-3,
.mar-233-5,
.mar-233-8,
.mar-233-13,
.mar-233-21,
.mar-233-34,
.mar-233-55,
.mar-233-98,
.mar-233-144,
.mar-233-233 {
    margin-bottom: var(--size-233, 233px);
}
