::-webkit-scrollbar {
    width: 13px;
    height: 8px;
}

/* Дорожка */
::-webkit-scrollbar-track {
    background: transparent;
}

/* Ползунок */
::-webkit-scrollbar-thumb {
    background: var(--second);
    border: 3px solid var(--basic);
    cursor: pointer;
    border-radius: 8px;
    width: 8px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--contrast);
}

::-webkit-scrollbar-thumb:active {
    background: var(--accent);
}

.over-hidden {
    overflow: hidden;
}
.over-visible {
    overflow: visible;
}
.over-x-hidden {
    overflow-x: hidden;
}

.over-auto {
    overflow: auto;
}
.over-x-auto {
    overflow-x: auto;
}
.over-y-auto {
    overflow-y: auto;
}