/* 1 */

.pad-1,
.pad-x-1,
.pad-l-1,

.pad-1-1,
.pad-2-1,
.pad-3-1,
.pad-5-1,
.pad-8-1,
.pad-13-1,
.pad-21-1,
.pad-34-1,
.pad-55-1,
.pad-98-1,
.pad-144-1,
.pad-233-1 {
    padding-left: var(--size-1, 1px);
}

.pad-1,
.pad-x-1,
.pad-r-1,

.pad-1-1,
.pad-2-1,
.pad-3-1,
.pad-5-1,
.pad-8-1,
.pad-13-1,
.pad-21-1,
.pad-34-1,
.pad-55-1,
.pad-98-1,
.pad-144-1,
.pad-233-1 {
    padding-right: var(--size-1, 1px);
}

.pad-1,
.pad-y-1,
.pad-t-1,

.pad-1-1,
.pad-1-2,
.pad-1-3,
.pad-1-5,
.pad-1-8,
.pad-1-13,
.pad-1-21,
.pad-1-34,
.pad-1-55,
.pad-1-98,
.pad-1-144,
.pad-1-233 {
    padding-top: var(--size-1, 1px);
}

.pad-1,
.pad-y-1,
.pad-b-1,

.pad-1-1,
.pad-1-2,
.pad-1-3,
.pad-1-5,
.pad-1-8,
.pad-1-13,
.pad-1-21,
.pad-1-34,
.pad-1-55,
.pad-1-98,
.pad-1-144,
.pad-1-233 {
    padding-bottom: var(--size-1, 1px);
}

/* 2 */

.pad-2,
.pad-x-2,
.pad-l-2,

.pad-1-2,
.pad-2-2,
.pad-3-2,
.pad-5-2,
.pad-8-2,
.pad-13-2,
.pad-21-2,
.pad-34-2,
.pad-55-2,
.pad-98-2,
.pad-144-2,
.pad-233-2 {
    padding-left: var(--size-2, 2px);
}

.pad-2,
.pad-x-2,
.pad-r-2,

.pad-1-2,
.pad-2-2,
.pad-3-2,
.pad-5-2,
.pad-8-2,
.pad-13-2,
.pad-21-2,
.pad-34-2,
.pad-55-2,
.pad-98-2,
.pad-144-2,
.pad-233-2 {
    padding-right: var(--size-2, 2px);
}

.pad-2,
.pad-y-2,
.pad-t-2,

.pad-2-1,
.pad-2-2,
.pad-2-3,
.pad-2-5,
.pad-2-8,
.pad-2-13,
.pad-2-21,
.pad-2-34,
.pad-2-55,
.pad-2-98,
.pad-2-144,
.pad-2-233 {
    padding-top: var(--size-2, 2px);
}

.pad-2,
.pad-y-2,
.pad-b-2,

.pad-2-1,
.pad-2-2,
.pad-2-3,
.pad-2-5,
.pad-2-8,
.pad-2-13,
.pad-2-21,
.pad-2-34,
.pad-2-55,
.pad-2-98,
.pad-2-144,
.pad-2-233 {
    padding-bottom: var(--size-2, 2px);
}

/* 3 */

.pad-3,
.pad-x-3,
.pad-l-3,

.pad-1-3,
.pad-2-3,
.pad-3-3,
.pad-5-3,
.pad-8-3,
.pad-13-3,
.pad-21-3,
.pad-34-3,
.pad-55-3,
.pad-98-3,
.pad-144-3,
.pad-233-3 {
    padding-left: var(--size-3, 3px);
}

.pad-3,
.pad-x-3,
.pad-r-3,

.pad-1-3,
.pad-2-3,
.pad-3-3,
.pad-5-3,
.pad-8-3,
.pad-13-3,
.pad-21-3,
.pad-34-3,
.pad-55-3,
.pad-98-3,
.pad-144-3,
.pad-233-3 {
    padding-right: var(--size-3, 3px);
}

.pad-3,
.pad-y-3,
.pad-t-3,

.pad-3-1,
.pad-3-2,
.pad-3-3,
.pad-3-5,
.pad-3-8,
.pad-3-13,
.pad-3-21,
.pad-3-34,
.pad-3-55,
.pad-3-98,
.pad-3-144,
.pad-3-233 {
    padding-top: var(--size-3, 3px);
}

.pad-3,
.pad-y-3,
.pad-b-3,

.pad-3-1,
.pad-3-2,
.pad-3-3,
.pad-3-5,
.pad-3-8,
.pad-3-13,
.pad-3-21,
.pad-3-34,
.pad-3-55,
.pad-3-98,
.pad-3-144,
.pad-3-233 {
    padding-bottom: var(--size-3, 3px);
}

/* 5 */

.pad-5,
.pad-x-5,
.pad-l-5,

.pad-1-5,
.pad-2-5,
.pad-3-5,
.pad-5-5,
.pad-8-5,
.pad-13-5,
.pad-21-5,
.pad-34-5,
.pad-55-5,
.pad-98-5,
.pad-144-5,
.pad-233-5 {
    padding-left: var(--size-5, 5px);
}

.pad-5,
.pad-x-5,
.pad-r-5,

.pad-1-5,
.pad-2-5,
.pad-3-5,
.pad-5-5,
.pad-8-5,
.pad-13-5,
.pad-21-5,
.pad-34-5,
.pad-55-5,
.pad-98-5,
.pad-144-5,
.pad-233-5 {
    padding-right: var(--size-5, 5px);
}

.pad-5,
.pad-y-5,
.pad-t-5,

.pad-5-1,
.pad-5-2,
.pad-5-3,
.pad-5-5,
.pad-5-8,
.pad-5-13,
.pad-5-21,
.pad-5-34,
.pad-5-55,
.pad-5-98,
.pad-5-144,
.pad-5-233 {
    padding-top: var(--size-5, 5px);
}

.pad-5,
.pad-y-5,
.pad-b-5,

.pad-5-1,
.pad-5-2,
.pad-5-3,
.pad-5-5,
.pad-5-8,
.pad-5-13,
.pad-5-21,
.pad-5-34,
.pad-5-55,
.pad-5-98,
.pad-5-144,
.pad-5-233 {
    padding-bottom: var(--size-5, 5px);
}

/* 8 */

.pad-8,
.pad-x-8,
.pad-l-8,

.pad-1-8,
.pad-2-8,
.pad-3-8,
.pad-5-8,
.pad-8-8,
.pad-13-8,
.pad-21-8,
.pad-34-8,
.pad-55-8,
.pad-98-8,
.pad-144-8,
.pad-233-8 {
    padding-left: var(--size-8, 8px);
}

.pad-8,
.pad-x-8,
.pad-r-8,

.pad-1-8,
.pad-2-8,
.pad-3-8,
.pad-5-8,
.pad-8-8,
.pad-13-8,
.pad-21-8,
.pad-34-8,
.pad-55-8,
.pad-98-8,
.pad-144-8,
.pad-233-8 {
    padding-right: var(--size-8, 8px);
}

.pad-8,
.pad-y-8,
.pad-t-8,

.pad-8-1,
.pad-8-2,
.pad-8-3,
.pad-8-5,
.pad-8-8,
.pad-8-13,
.pad-8-21,
.pad-8-34,
.pad-8-55,
.pad-8-98,
.pad-8-144,
.pad-8-233 {
    padding-top: var(--size-8, 8px);
}

.pad-8,
.pad-y-8,
.pad-b-8,

.pad-8-1,
.pad-8-2,
.pad-8-3,
.pad-8-5,
.pad-8-8,
.pad-8-13,
.pad-8-21,
.pad-8-34,
.pad-8-55,
.pad-8-98,
.pad-8-144,
.pad-8-233 {
    padding-bottom: var(--size-8, 8px);
}

/* 13 */

.pad-13,
.pad-x-13,
.pad-l-13,

.pad-1-13,
.pad-2-13,
.pad-3-13,
.pad-5-13,
.pad-8-13,
.pad-13-13,
.pad-21-13,
.pad-34-13,
.pad-55-13,
.pad-98-13,
.pad-144-13,
.pad-233-13 {
    padding-left: var(--size-13, 13px);
}

.pad-13,
.pad-x-13,
.pad-r-13,

.pad-1-13,
.pad-2-13,
.pad-3-13,
.pad-5-13,
.pad-8-13,
.pad-13-13,
.pad-21-13,
.pad-34-13,
.pad-55-13,
.pad-98-13,
.pad-144-13,
.pad-233-13 {
    padding-right: var(--size-13, 13px);
}

.pad-13,
.pad-y-13,
.pad-t-13,

.pad-13-1,
.pad-13-2,
.pad-13-3,
.pad-13-5,
.pad-13-8,
.pad-13-13,
.pad-13-21,
.pad-13-34,
.pad-13-55,
.pad-13-98,
.pad-13-144,
.pad-13-233 {
    padding-top: var(--size-13, 13px);
}

.pad-13,
.pad-y-13,
.pad-b-13,

.pad-13-1,
.pad-13-2,
.pad-13-3,
.pad-13-5,
.pad-13-8,
.pad-13-13,
.pad-13-21,
.pad-13-34,
.pad-13-55,
.pad-13-98,
.pad-13-144,
.pad-13-233 {
    padding-bottom: var(--size-13, 13px);
}

/* 21 */

.pad-21,
.pad-x-21,
.pad-l-21,

.pad-1-21,
.pad-2-21,
.pad-3-21,
.pad-5-21,
.pad-8-21,
.pad-13-21,
.pad-21-21,
.pad-34-21,
.pad-55-21,
.pad-98-21,
.pad-144-21,
.pad-233-21 {
    padding-left: var(--size-21, 21px);
}

.pad-21,
.pad-x-21,
.pad-r-21,

.pad-1-21,
.pad-2-21,
.pad-3-21,
.pad-5-21,
.pad-8-21,
.pad-13-21,
.pad-21-21,
.pad-34-21,
.pad-55-21,
.pad-98-21,
.pad-144-21,
.pad-233-21 {
    padding-right: var(--size-21, 21px);
}

.pad-21,
.pad-y-21,
.pad-t-21,

.pad-21-1,
.pad-21-2,
.pad-21-3,
.pad-21-5,
.pad-21-8,
.pad-21-13,
.pad-21-21,
.pad-21-34,
.pad-21-55,
.pad-21-98,
.pad-21-144,
.pad-21-233 {
    padding-top: var(--size-21, 21px);
}

.pad-21,
.pad-y-21,
.pad-b-21,

.pad-21-1,
.pad-21-2,
.pad-21-3,
.pad-21-5,
.pad-21-8,
.pad-21-13,
.pad-21-21,
.pad-21-34,
.pad-21-55,
.pad-21-98,
.pad-21-144,
.pad-21-233 {
    padding-bottom: var(--size-21, 21px);
}

/* 34 */

.pad-34,
.pad-x-34,
.pad-l-34,

.pad-1-34,
.pad-2-34,
.pad-3-34,
.pad-5-34,
.pad-8-34,
.pad-13-34,
.pad-21-34,
.pad-34-34,
.pad-55-34,
.pad-98-34,
.pad-144-34,
.pad-233-34 {
    padding-left: var(--size-34, 34px);
}

.pad-34,
.pad-x-34,
.pad-r-34,

.pad-1-34,
.pad-2-34,
.pad-3-34,
.pad-5-34,
.pad-8-34,
.pad-13-34,
.pad-21-34,
.pad-34-34,
.pad-55-34,
.pad-98-34,
.pad-144-34,
.pad-233-34 {
    padding-right: var(--size-34, 34px);
}

.pad-34,
.pad-y-34,
.pad-t-34,

.pad-34-1,
.pad-34-2,
.pad-34-3,
.pad-34-5,
.pad-34-8,
.pad-34-13,
.pad-34-21,
.pad-34-34,
.pad-34-55,
.pad-34-98,
.pad-34-144,
.pad-34-233 {
    padding-top: var(--size-34, 34px);
}

.pad-34,
.pad-y-34,
.pad-b-34,

.pad-34-1,
.pad-34-2,
.pad-34-3,
.pad-34-5,
.pad-34-8,
.pad-34-13,
.pad-34-21,
.pad-34-34,
.pad-34-55,
.pad-34-98,
.pad-34-144,
.pad-34-233 {
    padding-bottom: var(--size-34, 34px);
}

/* 55 */

.pad-55,
.pad-x-55,
.pad-l-55,

.pad-1-55,
.pad-2-55,
.pad-3-55,
.pad-5-55,
.pad-8-55,
.pad-13-55,
.pad-21-55,
.pad-34-55,
.pad-55-55,
.pad-98-55,
.pad-144-55,
.pad-233-55 {
    padding-left: var(--size-55, 55px);
}

.pad-55,
.pad-x-55,
.pad-r-55,

.pad-1-55,
.pad-2-55,
.pad-3-55,
.pad-5-55,
.pad-8-55,
.pad-13-55,
.pad-21-55,
.pad-34-55,
.pad-55-55,
.pad-98-55,
.pad-144-55,
.pad-233-55 {
    padding-right: var(--size-55, 55px);
}

.pad-55,
.pad-y-55,
.pad-t-55,

.pad-55-1,
.pad-55-2,
.pad-55-3,
.pad-55-5,
.pad-55-8,
.pad-55-13,
.pad-55-21,
.pad-55-34,
.pad-55-55,
.pad-55-98,
.pad-55-144,
.pad-55-233 {
    padding-top: var(--size-55, 55px);
}

.pad-55,
.pad-y-55,
.pad-b-55,

.pad-55-1,
.pad-55-2,
.pad-55-3,
.pad-55-5,
.pad-55-8,
.pad-55-13,
.pad-55-21,
.pad-55-34,
.pad-55-55,
.pad-55-98,
.pad-55-144,
.pad-55-233 {
    padding-bottom: var(--size-55, 55px);
}

/* 98 */

.pad-98,
.pad-x-98,
.pad-l-98,

.pad-1-98,
.pad-2-98,
.pad-3-98,
.pad-5-98,
.pad-8-98,
.pad-13-98,
.pad-21-98,
.pad-34-98,
.pad-55-98,
.pad-98-98,
.pad-144-98,
.pad-233-98 {
    padding-left: var(--size-98, 98px);
}

.pad-98,
.pad-x-98,
.pad-r-98,

.pad-1-98,
.pad-2-98,
.pad-3-98,
.pad-5-98,
.pad-8-98,
.pad-13-98,
.pad-21-98,
.pad-34-98,
.pad-55-98,
.pad-98-98,
.pad-144-98,
.pad-233-98 {
    padding-right: var(--size-98, 98px);
}

.pad-98,
.pad-y-98,
.pad-t-98,

.pad-98-1,
.pad-98-2,
.pad-98-3,
.pad-98-5,
.pad-98-8,
.pad-98-13,
.pad-98-21,
.pad-98-34,
.pad-98-55,
.pad-98-98,
.pad-98-144,
.pad-98-233 {
    padding-top: var(--size-98, 98px);
}

.pad-98,
.pad-y-98,
.pad-b-98,

.pad-98-1,
.pad-98-2,
.pad-98-3,
.pad-98-5,
.pad-98-8,
.pad-98-13,
.pad-98-21,
.pad-98-34,
.pad-98-55,
.pad-98-98,
.pad-98-144,
.pad-98-233 {
    padding-bottom: var(--size-98, 98px);
}

/* 144 */

.pad-144,
.pad-x-144,
.pad-l-144,

.pad-1-144,
.pad-2-144,
.pad-3-144,
.pad-5-144,
.pad-8-144,
.pad-13-144,
.pad-21-144,
.pad-34-144,
.pad-55-144,
.pad-98-144,
.pad-144-144,
.pad-233-144 {
    padding-left: var(--size-144, 144px);
}

.pad-144,
.pad-x-144,
.pad-r-144,

.pad-1-144,
.pad-2-144,
.pad-3-144,
.pad-5-144,
.pad-8-144,
.pad-13-144,
.pad-21-144,
.pad-34-144,
.pad-55-144,
.pad-98-144,
.pad-144-144,
.pad-233-144 {
    padding-right: var(--size-144, 144px);
}

.pad-144,
.pad-y-144,
.pad-t-144,

.pad-144-1,
.pad-144-2,
.pad-144-3,
.pad-144-5,
.pad-144-8,
.pad-144-13,
.pad-144-21,
.pad-144-34,
.pad-144-55,
.pad-144-98,
.pad-144-144,
.pad-144-233 {
    padding-top: var(--size-144, 144px);
}

.pad-144,
.pad-y-144,
.pad-b-144,

.pad-144-1,
.pad-144-2,
.pad-144-3,
.pad-144-5,
.pad-144-8,
.pad-144-13,
.pad-144-21,
.pad-144-34,
.pad-144-55,
.pad-144-98,
.pad-144-144,
.pad-144-233 {
    padding-bottom: var(--size-144, 144px);
}

/* 233 */

.pad-233,
.pad-x-233,
.pad-l-233,

.pad-1-233,
.pad-2-233,
.pad-3-233,
.pad-5-233,
.pad-8-233,
.pad-13-233,
.pad-21-233,
.pad-34-233,
.pad-55-233,
.pad-98-233,
.pad-144-233,
.pad-233-233 {
    padding-left: var(--size-233, 233px);
}

.pad-233,
.pad-x-233,
.pad-r-233,

.pad-1-233,
.pad-2-233,
.pad-3-233,
.pad-5-233,
.pad-8-233,
.pad-13-233,
.pad-21-233,
.pad-34-233,
.pad-55-233,
.pad-98-233,
.pad-144-233,
.pad-233-233 {
    padding-right: var(--size-233, 233px);
}

.pad-233,
.pad-y-233,
.pad-t-233,

.pad-233-1,
.pad-233-2,
.pad-233-3,
.pad-233-5,
.pad-233-8,
.pad-233-13,
.pad-233-21,
.pad-233-34,
.pad-233-55,
.pad-233-98,
.pad-233-144,
.pad-233-233 {
    padding-top: var(--size-233, 233px);
}

.pad-233,
.pad-y-233,
.pad-b-233,

.pad-233-1,
.pad-233-2,
.pad-233-3,
.pad-233-5,
.pad-233-8,
.pad-233-13,
.pad-233-21,
.pad-233-34,
.pad-233-55,
.pad-233-98,
.pad-233-144,
.pad-233-233 {
    padding-bottom: var(--size-233, 233px);
}
